# .NET Core
bin/
obj/
.vs/
*.user
*.userosscache
*.suo
*.cache
*.dll
*.exe
*.pdb
*.log

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn

# Visual Studio files
.vscode/
*.nupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/

# Rider
.idea/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# MacOS
.DS_Store

# Windows
Thumbs.db