<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
	</packageSources>
	<packageRestore>
		<add key="enabled" value="True" />
		<add key="automatic" value="True" />
	</packageRestore>
	<packages>
		<add key="Microsoft.EntityFrameworkCore" value="5.0.17" />
		<add key="Microsoft.EntityFrameworkCore.SqlServer" value="5.0.17" />
		<add key="Microsoft.Extensions.Configuration.EnvironmentVariables" value="8.0.0" />
		<add key="Microsoft.Extensions.Configuration.Json" value="8.0.0" />
	</packages>
</configuration>
