@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>*@

<div class="bg-white">
    <div class="relative isolate px-6 pt-14 lg:px-8">
        <div class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80" aria-hidden="true">
            <div class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
        </div>
        <div class="mx-auto max-w-2xl py-32 sm:py-48 lg:py-56">
            <div class="text-center">
                <!-- Profile Image with Yellow Border -->
                <div class="inline-block p-1 border-4 border-yellow-500 sm:mb-8 rounded-full">
                    <img src="https://i.ibb.co/PZp4HJY/me.jpg" alt="Profile Picture" class="mx-auto rounded-full w-32 h-32 object-cover">
                </div><br>

                <div class="hidden sm:mb-8 sm:flex sm:justify-center">
                    <div class="relative rounded-full px-3 py-1 text-sm leading-6 text-gray-600 ring-1 ring-gray-900/10 hover:ring-gray-900/20">
                        Curious to dive deeper into myself.
                        <a href="#" class="font-semibold text-indigo-600">
                            <span class="absolute inset-0" aria-hidden="true"></span>
                            <span class="text-yellow-500">Read more <span aria-hidden="true" class="text-yellow-500">&rarr;</span></span>
                        </a>
                    </div>
                </div>
                <h1 class="text-balance text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl"><span style="color: #4B5563;">Ayubowan!</span> I'm a Developer From The Pearl Of The Indian Ocean</h1>
                <p class="mt-6 text-lg leading-8 text-gray-600">An enthusiastic <i>backend developer</i> who is very likely to play the wizard role behind the curtain who makes the magic happen...</p>
                <div class="mt-10 flex flex-col sm:flex-row items-center justify-center gap-y-4 sm:gap-x-6">
                    <button class="w-full px-5 py-2 text-sm tracking-wide text-white transition-colors duration-300 transform bg-yellow-500 rounded-md sm:mx-2 sm:order-2 sm:w-auto hover:bg-yellow-400 focus:outline-none focus:ring focus:ring-yellow-300 focus:ring-opacity-80 font-semibold">
                        Talk About a Project!
                    </button>
                    <a href="https://www.linkedin.com/in/vihanga-sakwithi/" target="_blank" class="text-sm font-semibold leading-6 text-blue-500">
                        <i class="fab fa-linkedin"></i> LinkedIn <span aria-hidden="true">→</span>
                    </a>
                </div>

            </div>
        </div>
        <div class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]" aria-hidden="true">
            <div class="relative left-[calc(50%+3rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
        </div>
    </div>
</div>

<div class="bg-white pt-0 pb-24 sm:pt-0 sm:pb-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <h2 class="text-center text-lg font-semibold leading-8 text-gray-900">Working in the world’s most demanding stack</h2>
        <div class="mx-auto mt-10 flex flex-wrap justify-center items-center gap-x-20 gap-y-10">
            <img class="max-h-12 w-auto object-contain"
                 src="https://upload.wikimedia.org/wikipedia/commons/7/7d/Microsoft_.NET_logo.svg"
                 alt=".NET" width="158" height="48">
            <img class="max-h-12 w-auto object-contain"
                 src="https://upload.wikimedia.org/wikipedia/de/thumb/8/8c/Microsoft_SQL_Server_Logo.svg/946px-Microsoft_SQL_Server_Logo.svg.png"
                 alt="MSSQL" width="158" height="48">
            <img class="max-h-12 w-auto object-contain"
                 src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fa/Microsoft_Azure.svg/2048px-Microsoft_Azure.svg.png"
                 alt="Azure" width="158" height="48">
            <img class="max-h-12 w-auto object-contain"
                 src="https://miro.medium.com/v2/resize:fit:1400/1*CiVW0IQDeLIYO8uXrd-8dw.png"
                 alt="Azure" width="158" height="48">
            <img class="max-h-12 w-auto object-contain"
                 src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/2048px-Angular_full_color_logo.svg.png"
                 alt="Angular" width="158" height="48">
            <img class="max-h-12 w-auto object-contain"
                 src="https://media.licdn.com/dms/image/D4D12AQGZ2Hek_UgBsg/article-cover_image-shrink_600_2000/0/1689418463906?e=2147483647&v=beta&t=zlzxtR63RS73DzOdIJp_-jH0lnkSEg8GjjEbZSk8Gek"
                 alt="Git" width="158" height="48">
        </div>
    </div>
</div>



<script>
    const greetings = ["Ayubowan!", "Hello!"];
    let currentGreeting = 0;
    const greetingElement = document.getElementById('greeting');

    function updateGreeting() {
        greetingElement.textContent = greetings[currentGreeting];
        currentGreeting = (currentGreeting + 1) % greetings.length;
    }

    updateGreeting(); // Initial call to display the first greeting
    setInterval(updateGreeting, 2000); // Change greeting every 2 seconds
</script>